<% form_for @provider, :url => { :action => "query"}do |f| %>
  <%= error_messages_for :provider %>
  <fieldset>
    <legend>厂商信息：</legend>
    <table>
      <tr>
        <td>
          <%= f.label :name,"公司名称" %><br />
          <%= f.text_field :name %>
        </td>

        <td>
          <%= f.label :addr,"公司地址" %><br />
          <%= f.text_field :addr %>
        </td>

        <td>
          <%= f.label :contact,"联系人" %><br />
          <%= f.text_field :contact %>
        </td>
        <td>
          <%= f.label :phone ,"联系电话"%><br />
          <%= f.text_field :phone %>
        </td>
      </tr>
    </table>
  </fieldset>
  <br/>

  <p>
    <%= f.submit "查询" %>
  </p>
<% end %>
<%= link_to '返回', providers_path %>
