<div class="tabel-list">
  <table >
    <tr>
      <th>编号</th>
      <th>品牌</th>
      <th>序列号</th>
      <th>类型</th>
      <th>型号</th>
      <th>使用人</th>
      <th>使用部门</th>
      <th>状态</th>
      <th>购置时间</th>
      <th>维保到期日</th>
      <th>数量</th>
    </tr>
    <% for device in @devices %>

      <%= error_messages_for :device %>
      <tr>
        <td><%=h device[0].no %></td>
        <td><%=h device[0].brand %></td>
        <td><%=h device[0].sn %></td>
        <td><%=h device[0].device_type %></td>
        <td><%=h device[0].model %></td>
        <td><%=h device[0].admin %></td>
        <td><%=h device[0].department %></td>
        <td><%=h device[0].status %></td>
        <td><%=h device[0].acquisition_time %></td>
        <td><%=h device[0].end_server_time %></td>
        <td><%=h device[1] %></td>
      </tr>
    <% end %>
  </table>
</div>
<div class="pagination">
  <%= will_paginate %>
</div>
<%= link_to '返回', devices_path %>
