<h1>Change Status</h1>

<% form_for @device,:url=>{:action=>"update_status"} do |f| %>
  <%= error_messages_for :device %>
  <fieldset>
    <legend>主要信息：</legend>
    <table >

      <tr>
        <td>
          <%= f.label :no,"编号" %><br />
          <%= f.text_field :no,:size=>"20",:readonly=>"true" %>
        </td>

        <td>
          <%= f.label :brand,"品牌" %><br />
          <%= f.text_field :brand,:size=>"20",:readonly=>"true" %>
        </td>
        <td>
          <%= f.label :sn,"序列号" %><br />
          <%= f.text_field :sn ,:size=>"20",:readonly=>"true"%>
        </td>
        <td>
          <%= f.label :device_type,"类型" %><br />
          <%= f.text_field :device_type,:size=>"10",:readonly=>"true" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :model,"型号" %><br />
          <%= f.text_field :model,:size=>"20",:readonly=>"true" %>
        </td>
        <td>
          <%= f.label :admin,"使用人" %><br />
          <%= f.text_field :admin,:size=>"20",:readonly=>"true" %>
        </td>
        <td>
          <%= f.label :department,"使用部门" %><br />
          <%= f.text_field :department,:size=>"20",:readonly=>"true"%>
        </td>
        <td>
          <%= f.label :device_provider,"设备提供商" %><br />
          <%= f.text_field :device_provider,:size=>"30",:readonly=>"true" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label :status,"设备现有状态" %><br />
          <%= f.text_field :status,:size=>"10",:readonly=>"true" %>
        </td>
        <td>
          <%= f.label :acquisition_time,"购置时间" %><br />
          <%= f.text_field :acquisition_time,:size=>"10",:readonly=>"true"  %>
        </td>
        <td>
          <%= f.label :end_server_time,"维保到期日" %><br />
          <%= f.text_field :end_server_time,:size=>"10",:readonly=>"true" %>
        </td>
        <td>
          <%= f.label :service_provider,"维保厂商" %><br />
          <%= f.text_field :service_provider,:size=>"30",:readonly=>"true" %>
        </td>
      </tr>
    </table>
  </fieldset>
  <br/>
  <% fields_for(@status_change) do |ff| %>
    <fieldset>
      <legend>设备状态改变原因：</legend>
      <table >
        <tr>
          <td>
            <%= ff.label :status,"设备新状态" %><br />
            <%= ff.select :status,Device::STATUS-[@device.status,"未领用"]%>
          </td>
          <td>
            <%= ff.label :status_change_time,"状态改变时间" %><br />
            <%= ff.text_field :status_change_time ,:class=>"Wdate",:size=>"10",:value=>Time.now.strftime("%Y-%m-%d"),:onclick=>"WdatePicker()" %>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <%= ff.label :reason,"状态改变原因" %><br />
            <%= ff.text_area :reason,:rows=>"5",:cols=>"60" %>
          </td>
        </tr>
      </table>
    </fieldset>
  <% end %>
  <br/>
  <p>
    <%= f.submit "改变设备状态" %>
  </p>

<% end %>

<%= link_to '返回', devices_path %>
