<div class="side">
  <script>
    if (document.getElementById) {
      var treeroot = new WebFXTree("root");
<%= revtree(Department.find_by_name(department),"treeroot")%>
    document.write(treeroot);
  }
  </script>
</div>
<div class="content">

  <% form_for @device, :url => { :action => "query"}do |f| %>
    <%= error_messages_for :device ,:device_detail%>
    <fieldset>
      <legend>主要信息：</legend>
      <table>
        <tr>
          <td>
            <%= f.label :no,"编号" %><br />
            <%= f.text_field :no,:size=>"15" %>
          </td>

          <td>
            <%= f.label :brand,"品牌" %><br />
            <%= f.text_field :brand,:size=>"15" %>
          </td>
          <td>
            <%= f.label :sn,"序列号" %><br />
            <%= f.text_field :sn,:size=>"15" %>
          </td>
          <td>
            <%= f.label :device_type,"类型" %><br />
            <%= f.select :device_type, [""]+device_types.names %>
          </td>
        </tr>
        <tr>
          <td>
            <%= f.label :model,"型号" %><br />
            <%= f.text_field :model ,:size=>"15"%>
          </td>
          <td>
            <%= f.label :admin,"使用人" %><br />
            <%= f.text_field :admin ,:size=>"15"%>
          </td>
          <td>
            <%= f.label :department,"使用部门" %><br />
            <%= f.select :department, [""]+departments.names %>
          </td>
          <td>
            <%= f.label :status,"设备状态" %><br />
            <%= f.select :status, [""]+Device::STATUS %>
          </td>

        </tr>
        <% fields_for(@time_range) do |f| %>
          <tr>
            <td colspan="2">
              <%= f.label "设备购置日" %>
              <%= f.text_field :start_using_time_from,:class=>"Wdate",:size=>"10",:value=>"",:onclick=>"WdatePicker()"  %>
              <%= f.label "到" %>
              <%= f.text_field :start_using_time_to,:class=>"Wdate",:size=>"10",:value=>"",:onclick=>"WdatePicker()"  %>
            </td>
            <td colspan="2">
              <%= f.label "维保到期日" %>
              <%= f.text_field :end_server_time_from,:class=>"Wdate",:size=>"10",:value=>"",:onclick=>"WdatePicker()"  %>
              <%= f.label "到" %>
              <%= f.text_field :end_server_time_to,:class=>"Wdate",:size=>"10",:value=>"",:onclick=>"WdatePicker()"  %>
            </td>
          </tr>
        <% end %>
      </table>
    </fieldset>
    <br/>

    <p>
      <%= f.submit "查询" %>
    </p>
  <% end %>
  <%= link_to 'Back', devices_path %>
</div>