<h1>New user</h1>

<% form_for @user,:url => { :action => "update_password"} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :userid,"用户id"  %><br />
    <%= f.text_field :userid %>
  </p>
  <p>
    <%= f.label :password,"密码"  %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label 'Confirm',"确认密码"  %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit "重置密码" %>
  </p>
<% end %>

<%= link_to '返回', users_path %>
