<% fields_for(@device_detail) do |f| %>
  <fieldset>
    <legend>详细信息：</legend>
    <table>
      <tr>
        <td>
          <%= f.label :interface,"接口" %><br />
          <%= f.select :interface,["RS-232","USB"],:size=>"25" %>
        </td>
        <td>
          <%= f.label :voice,"是否支持语音" %><br />
          <%= f.select :voice,["是","否"],:size=>"25" %>
        </td>
        <td>
          <%= f.label :anti_peep_cover,"是否有防窥罩" %><br />
           <%= f.select :anti_peep_cover,["是","否"],:size=>"25" %>
        </td>
      </tr>
      <tr>
        <td  colspan="3">
          <%= f.label :memo,"备注" %> <br />
          <%= f.text_area :memo,:rows=>"10",:cols=>"70" %>
        </td>
      </tr>
    </table>
  </fieldset>
<% end %>
