<li ><%= link_to '<b>初始化系统</b>', :controller => 'system',:action=>"init_system" %></li>
<li ><%= link_to '<b>密码重置</b>', :controller => 'users',:action=>"init_password" %></li>
<li><%= link_to '<b>批量新增设备</b>', :controller => 'devices',:action=>"batch_input" %></li>
<li><%= link_to '<b>厂商管理</b>', :controller => 'providers' %></li>
<li><%= link_to '<b>维修记录</b>', :controller => 'maintain ' %></li>
<li><%= link_to '<b>系统管理</b>', :controller => 'system' %></li>